.header {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  padding: 25px 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  &:focus,
  &:hover,
  &:active {
    cursor: pointer;

    opacity: 0.6;
  }
}

.header__nav {
  margin-left: auto;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}

.header__item {
  margin-right: 24px;
}

.header__link {
  padding-right: 10px;
  position: relative;
  font-family: $font-family--neue-machina;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #0B0B0B;

  & svg {
    position: absolute;
    right: 0;
    top: 3px;
  }

  &:focus,
  &:hover,
  &:active {
    cursor: pointer;

    opacity: 0.6;
  }
}
